version: "3.9"

services:
  app:
    container_name: node-ua-prod-image
    env_file: .env
    build:
      dockerfile: Dockerfile.prod
    ports:
      - "8080:8080"
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
